.pro-tip {
  min-height: 10vh;
  margin-top: 20px;
  margin-bottom: 20px;

  h3 {
    font-family: 'Pacifico', monospace;
    color: rosybrown;
    margin: 0;
  }

  p {
    margin: 0;
    padding: 20px;
  }
}
